.fullfondo {
    height: 100%;
    background-repeat: no-repeat;
    background: url(https://bnetcmsus-a.akamaihd.net/cms/blog_thumbnail/ay/AYJ0P9WLD7IP1602720127239.jpg);
    background-position: center;
    background-size: cover;
    /* Para este ejemplo usamos el archivo que está dentro de una carpeta imagenes 
    en nuestro proyecto */
  
    /* 
    Puedes modificar como se ve la imagen de fondo con las siguientes propiedades:
    */
  
    /*
    ###########################
    background-position:
    background-repeat:background-size:
    background-repeat:
    background-attachment:
    ###########################
    */
  
    /* A continuación explicamos cada como funciona cada propiedad. */
  }
  .button{
    padding:40px;
    margin: 40px;
    border-radius: 20px;
    border-color:blue ;
    color: rgb(18, 18, 140);
    font-size: 30px;
    opacity: 0.12;
   filter: alpha(opacity=100);
   zoom: 1;
   font-weight: bold;
  }
  
